@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  
}

html{
    // 1rem = 10px
    font-size: 62.5%; 
    
}
body{
    display: block;

}
#root{
    width: 100%;
}

