@use"abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/animations";
@use "base/utilities";
@use "base/base"; 

@use"layout/navigation";

@use "components/inputs";
@use "components/button";
@use "components/projects";

@use "pages/hero";

@use"typography/typography"