@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero{
    text-align: center;
    
   
    &__container{
        padding: 15rem 0;

        background-image: url(../../../public/img/concrete-wall.png);
        background-color: $color-off-white;
        clip-path: polygon(0px 0px, 100% 0px, 100.00% 65vh, 0px 100%);
        
        
    }
}