@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero{
    text-align: center;
    height: 95vh;
    background-color: aquamarine;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    
    
    &__container{
        padding-top: 20rem;
        &-infor{

        }
        
    }
}