@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

*{
    font-family: "TASA Orbiter", sans-serif;
    
}

p{
    font-size: 1.25rem;

}

.heading-primary{
    font-size: 5rem;
    background-image: linear-gradient(to right, $color-dark-blue, $color-light-blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-align: center;
}

.heading-secondary{
    font-size: 4rem;
    background-image: linear-gradient(to right, $color-dark-blue, $color-light-blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-align: center;
    
}

.heading-tertiary{
    font-size: 2.5rem;
    text-align: center;
}

