@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


p{
    font-size: 1.25rem;
}

.heading-primary{
    font-size: 5rem;
    background-image: linear-gradient(to right, $color-dark-blue, $color-light-blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.heading-secondary{
    font-size: 3rem;
}

.heading-tertiary{
    font-size: 2.5rem;
}

