@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn{
    display: inline-block;
    border: solid 2px black;
    padding: 1rem;
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    box-shadow: #00000059 1px 1px 3px 0px;
    border-radius: 4rem;
    transition: all .2s;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
        color: $color-white;
        background-color: $color-dark-blue;
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            
        }
    }
        
    

    

}