@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn{
    border: solid 2px black;
    padding: 1rem;
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    box-shadow: #00000059 1px 1px 3px 0px;
    border-radius: 4rem;

}