@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.image-text-container{
    display: flex;

    &__image{
    
        width: 30rem;
        height: 30rem;
        border-radius: 10px;

    }

   
}