@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.image-text-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: $color-off-white;
    border-radius: 10px;

    &__image{
        width: 15rem;
        height: 15rem;

        & > img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: 0% 0%;
        }

    }

    &__text{
        padding: 2rem;
    }
   
}