@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.image-text-container{
    display: flex;
    align-items: center;
    padding: 1.5rem;

    &__image{
        width: 15rem;
        height: 15rem;

        & > img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: 0% 0%;
        }
    }

   
}