@use"../abstracts/variables" as *;
// .projects-section{
    
// }

.projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10rem 0;
   
    
    &__container{
        text-align: center;
        background-color: white;
        width: 50rem;
        margin: 2rem;
        border: 1px ridge;
        padding: 0.2rem;
        box-shadow: 3px 3px 11px 2px rgba(0,0,0,0.2);
        -webkit-box-shadow: 3px 3px 11px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 3px 3px 11px 2px rgba(0,0,0,0.2);
        
        &-img{
            width: 100%;
            cursor: pointer;
        }
        &-text{
            font-size: 1.5rem;
            padding: 1.5rem
        }
        &-title{
            font-size: 2rem;
            padding: 1.5rem;
            border-bottom: 1px solid #eee; 
        }
}   }
