@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .15;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.about-section{
    height: 95vh;
    position: relative;
}

.about-content{
    &__container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 0 0 50%;
    }
}

.image-text-container{
    background-color: white;
    z-index: 100;
    margin-bottom: 2.5rem;
}