@use"../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .15;
    overflow: hidden;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.about-section{
    position: relative;
}
.about-content{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;

    &__container{
        display: flex;
        justify-content: space-evenly;
          

        &-box,
        &-box-right{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50rem;
            border-radius: 5px;
            margin-bottom: 10rem;
            z-index: 5;

            &-right > .image-text-container{
                flex-direction: row-reverse;
            }

        }
    }
}