.bg-video{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .15;
    overflow: hidden;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.about-content{
    position: relative;
    width: 100%;
    text-align: center;
    

    &__container{
        display: flex;
        justify-content: space-evenly;

        &-box{
            width: 150px;
            height: 150px;
            background-color: red;
            z-index: 5;
        }
    }
}