.margin-m {
  margin: 3rem 0;
}

.margin-l {
  margin: 6rem 0;
}

.small-container {
  margin: 2rem 5rem;
}

.padding-l {
  padding: 6rem 0;
}

.padding-m {
  padding: 3rem 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: block;
  background-color: #f7f7f7;
}

#root {
  width: 100%;
}

.page {
  margin: 0 3rem;
}

.footer {
  display: block;
  width: 100%;
  height: 20vh;
  background-color: aqua;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-section {
  position: relative;
}

.about-content {
  position: relative;
  width: 100%;
  text-align: center;
}
.about-content__container {
  display: flex;
  justify-content: space-evenly;
}
.about-content__container-box, .about-content__container-box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50rem;
  border-radius: 5px;
  margin-bottom: 10rem;
  z-index: 5;
}
.about-content__container-box-right > .image-text-container, .about-content__container-box-right-right > .image-text-container {
  flex-direction: row-reverse;
}

.btn {
  display: inline-block;
  border: solid 2px black;
  padding: 1rem;
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.3490196078) 1px 1px 3px 0px;
  border-radius: 4rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #1d3557;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.projects__container {
  text-align: center;
  background-color: white;
  width: 50rem;
  margin: 2rem;
  border: 1px ridge;
  padding: 0.2rem;
  box-shadow: 3px 3px 11px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 11px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 11px 2px rgba(0, 0, 0, 0.2);
}
.projects__container-img {
  width: 100%;
  cursor: pointer;
}
.projects__container-text {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.projects__container-title {
  font-size: 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
}

.image-text-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.image-text-container__image {
  width: 15rem;
  height: 15rem;
}
.image-text-container__image > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 0% 0%;
}
.image-text-container__text {
  padding: 2rem;
}

.hero {
  text-align: center;
}
.hero__container {
  padding-top: 10rem;
}
* {
  font-family: "TASA Orbiter", sans-serif;
}

p {
  font-size: 1.25rem;
}

.heading-primary {
  font-size: 5rem;
  background-image: linear-gradient(to right, #1d3557, #457b9d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
}

.heading-secondary {
  font-size: 3rem;
}

.heading-tertiary {
  font-size: 2.5rem;
}

/*# sourceMappingURL=App.css.map */
